// http://ionicframework.com/docs/theming/

h2{
  color: white !important;
  font-weight:bold !important;
  text-transform: uppercase !important;
}
img {
  width: 80px !important;
  height: 100px !important;
  border-radius:0px !important;
}
button {
  padding: 0px !important;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: 1;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
}
p{
  font-style:oblique !important;
  font-size: large !important;
}

.item-md{
  margin:0px !important;

}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
